<settings>
  <setting name="AllowOnlyOneInstance">1</setting>
  <setting name="CloseOnEscape">0</setting>
  <setting name="CollapseServicesOnStart">1</setting>
  <setting name="DbgHelpPath">dbghelp.dll</setting>
  <setting name="DbgHelpSearchPath"></setting>
  <setting name="DbgHelpUndecorate">1</setting>
  <setting name="DisabledPlugins"></setting>
  <setting name="ElevationLevel">1</setting>
  <setting name="EnableCycleCpuUsage">1</setting>
  <setting name="EnableInstantTooltips">0</setting>
  <setting name="EnableKph">1</setting>
  <setting name="EnableNetworkResolve">1</setting>
  <setting name="EnablePlugins">1</setting>
  <setting name="EnableServiceNonPoll">1</setting>
  <setting name="EnableStage2">1</setting>
  <setting name="EnableWarnings">1</setting>
  <setting name="EnvironmentListViewColumns">@120|0,175|1,250</setting>
  <setting name="FindObjRegex">0</setting>
  <setting name="FindObjListViewColumns"></setting>
  <setting name="FindObjWindowPosition">350,350</setting>
  <setting name="FindObjWindowSize">@96|550,420</setting>
  <setting name="FirstRun">0</setting>
  <setting name="Font">f3ffffff00000000000000000000000090010000000000000302013143006f006e0073006f006c0061007300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000</setting>
  <setting name="ForceNoParent">0</setting>
  <setting name="HandleTreeListColumns">@120|0,0,125|1,1,250|2,2,100</setting>
  <setting name="HandleTreeListSort">0,1</setting>
  <setting name="HiddenProcessesListViewColumns"></setting>
  <setting name="HiddenProcessesWindowPosition">400,400</setting>
  <setting name="HiddenProcessesWindowSize">@96|520,400</setting>
  <setting name="HideDriverServices">0</setting>
  <setting name="HideOnClose">1</setting>
  <setting name="HideOnMinimize">1</setting>
  <setting name="HideOtherUserProcesses">0</setting>
  <setting name="HideSignedProcesses">0</setting>
  <setting name="HideUnnamedHandles">1</setting>
  <setting name="HighlightingDuration">7d0</setting>
  <setting name="IconMask">8</setting>
  <setting name="IconMaskList"></setting>
  <setting name="IconNotifyMask">c</setting>
  <setting name="IconProcesses">f</setting>
  <setting name="IconSingleClick">1</setting>
  <setting name="IconTogglesVisibility">1</setting>
  <setting name="LogEntries">200</setting>
  <setting name="LogListViewColumns">@120|0,175|1,325</setting>
  <setting name="LogWindowPosition">300,300</setting>
  <setting name="LogWindowSize">@120|563,625</setting>
  <setting name="MainWindowAlwaysOnTop">0</setting>
  <setting name="MainWindowOpacity">0</setting>
  <setting name="MainWindowPosition">349,123</setting>
  <setting name="MainWindowSize">@96|800,600</setting>
  <setting name="MainWindowState">1</setting>
  <setting name="MaxSizeUnit">6</setting>
  <setting name="MemEditBytesPerRow">10</setting>
  <setting name="MemEditGotoChoices"></setting>
  <setting name="MemEditPosition">450,450</setting>
  <setting name="MemEditSize">@96|600,500</setting>
  <setting name="MemFilterChoices"></setting>
  <setting name="MemResultsListViewColumns"></setting>
  <setting name="MemResultsPosition">300,300</setting>
  <setting name="MemResultsSize">@96|500,520</setting>
  <setting name="MemoryTreeListColumns">@96|0,0,120|1,1,90|2,2,80|3,3,60|4,4,200|5,5,80|6,6,80|7,7,80|8,8,80|9,9,80</setting>
  <setting name="MemoryTreeListSort">0,0</setting>
  <setting name="MemoryListsWindowPosition">400,400</setting>
  <setting name="MemoryReadWriteAddressChoices"></setting>
  <setting name="MiniInfoWindowEnabled">1</setting>
  <setting name="MiniInfoWindowOpacity">0</setting>
  <setting name="MiniInfoWindowPinned">0</setting>
  <setting name="MiniInfoWindowPosition">977,548</setting>
  <setting name="MiniInfoWindowRefreshAutomatically">1</setting>
  <setting name="MiniInfoWindowSize">@96|315,200</setting>
  <setting name="ModuleTreeListColumns">@120|0,0,125|1,1,100|2,2,75|3,3,200</setting>
  <setting name="ModuleTreeListSort">0,0</setting>
  <setting name="NetworkTreeListColumns">@96|0,0,280|1,1,197|2,2,56|3,3,285|4,4,54|5,5,42|6,6,89|7,11,142|+ProcessHacker.ExtendedTools+1,7,68|+ProcessHacker.ExtendedTools+2,9,46|+ProcessHacker.ExtendedTools+3,8,103|+ProcessHacker.ExtendedTools+4,10,85</setting>
  <setting name="NetworkTreeListSort">+ProcessHacker.ExtendedTools+1,2</setting>
  <setting name="NoPurgeProcessRecords">0</setting>
  <setting name="PluginsDirectory">plugins</setting>
  <setting name="ProcessServiceListViewColumns"></setting>
  <setting name="ProcessTreeListColumns">@96|0,0,290|1,1,58|2,4,47|4,6,108|5,8,222|6,7,348|12,5,105|32,3,162|37,9,218|40,2,49</setting>
  <setting name="ProcessTreeListSort">0,0</setting>
  <setting name="ProcPropPage">General</setting>
  <setting name="ProcPropPosition">214,183</setting>
  <setting name="ProcPropSize">@96|460,580</setting>
  <setting name="ProgramInspectExecutables">peview.exe &quot;%s&quot;</setting>
  <setting name="PropagateCpuUsage">1</setting>
  <setting name="RunAsProgram"></setting>
  <setting name="RunAsUserName"></setting>
  <setting name="SampleCount">2ab</setting>
  <setting name="SampleCountAutomatic">1</setting>
  <setting name="ScrollToNewProcesses">1</setting>
  <setting name="SearchEngine">http://www.google.com/search?q=&quot;%s&quot;</setting>
  <setting name="ServiceListViewColumns"></setting>
  <setting name="ServiceTreeListColumns">@96|2,2,116|3,3,66|4,4,105|5,0,68|6,1,596|9,5,490</setting>
  <setting name="ServiceTreeListSort">3,1</setting>
  <setting name="SessionShadowHotkey">106,2</setting>
  <setting name="ShowCommitInSummary">1</setting>
  <setting name="ShowCpuBelow001">0</setting>
  <setting name="StartHidden">0</setting>
  <setting name="SysInfoWindowAlwaysOnTop">0</setting>
  <setting name="SysInfoWindowOneGraphPerCpu">0</setting>
  <setting name="SysInfoWindowPosition">200,178</setting>
  <setting name="SysInfoWindowSection"></setting>
  <setting name="SysInfoWindowSize">@96|751,590</setting>
  <setting name="SysInfoWindowState">3</setting>
  <setting name="ThinRows">0</setting>
  <setting name="ThreadTreeListColumns">@120|0,,63|1,,56|2,,100|3,,225|4,,100|5,,125</setting>
  <setting name="ThreadTreeListSort">1,2</setting>
  <setting name="ThreadStackListViewColumns"></setting>
  <setting name="ThreadStackWindowSize">@96|420,380</setting>
  <setting name="UpdateInterval">3e8</setting>
  <setting name="ColorNew">ff7f</setting>
  <setting name="ColorRemoved">283cff</setting>
  <setting name="UseColorOwnProcesses">0</setting>
  <setting name="ColorOwnProcesses">aaffff</setting>
  <setting name="UseColorSystemProcesses">0</setting>
  <setting name="ColorSystemProcesses">ffccaa</setting>
  <setting name="UseColorServiceProcesses">0</setting>
  <setting name="ColorServiceProcesses">ffffcc</setting>
  <setting name="UseColorJobProcesses">0</setting>
  <setting name="ColorJobProcesses">3f85cd</setting>
  <setting name="UseColorWow64Processes">0</setting>
  <setting name="ColorWow64Processes">8f8fbc</setting>
  <setting name="UseColorDebuggedProcesses">0</setting>
  <setting name="ColorDebuggedProcesses">ffbbcc</setting>
  <setting name="UseColorElevatedProcesses">0</setting>
  <setting name="ColorElevatedProcesses">aaff</setting>
  <setting name="UseColorImmersiveProcesses">0</setting>
  <setting name="ColorImmersiveProcesses">cbc0ff</setting>
  <setting name="UseColorSuspended">0</setting>
  <setting name="ColorSuspended">777777</setting>
  <setting name="UseColorDotNet">0</setting>
  <setting name="ColorDotNet">ffde</setting>
  <setting name="UseColorPacked">0</setting>
  <setting name="ColorPacked">9314ff</setting>
  <setting name="UseColorGuiThreads">0</setting>
  <setting name="ColorGuiThreads">77ffff</setting>
  <setting name="UseColorRelocatedModules">0</setting>
  <setting name="ColorRelocatedModules">80c0ff</setting>
  <setting name="UseColorProtectedHandles">0</setting>
  <setting name="ColorProtectedHandles">777777</setting>
  <setting name="UseColorInheritHandles">0</setting>
  <setting name="ColorInheritHandles">ffff77</setting>
  <setting name="GraphShowText">1</setting>
  <setting name="GraphColorMode">0</setting>
  <setting name="ColorCpuKernel">ff00</setting>
  <setting name="ColorCpuUser">ff</setting>
  <setting name="ColorIoReadOther">ffff</setting>
  <setting name="ColorIoWrite">ff0077</setting>
  <setting name="ColorPrivate">77ff</setting>
  <setting name="ColorPhysical">ffff00</setting>
  <setting name="ProcessHacker.DotNetTools.AsmTreeListColumns"></setting>
  <setting name="ProcessHacker.DotNetTools.DotNetCategoryIndex">5</setting>
  <setting name="ProcessHacker.DotNetTools.DotNetListColumns"></setting>
  <setting name="ProcessHacker.DotNetTools.DotNetShowByteSizes">1</setting>
  <setting name="ProcessHacker.ExtendedNotifications.EnableGrowl">0</setting>
  <setting name="ProcessHacker.ExtendedNotifications.LogFileName"></setting>
  <setting name="ProcessHacker.ExtendedNotifications.ProcessList">\i*</setting>
  <setting name="ProcessHacker.ExtendedNotifications.ServiceList">\i*</setting>
  <setting name="ProcessHacker.ExtendedServices.EnableServicesMenu">1</setting>
  <setting name="ProcessHacker.ExtendedTools.DiskTreeListColumns">@96|0,0,219|1,5,1421|2,1,96|3,2,106|4,3,105|6,4,141</setting>
  <setting name="ProcessHacker.ExtendedTools.DiskTreeListSort">1,1</setting>
  <setting name="ProcessHacker.ExtendedTools.EnableEtwMonitor">1</setting>
  <setting name="ProcessHacker.ExtendedTools.EnableGpuMonitor">1</setting>
  <setting name="ProcessHacker.ExtendedTools.GpuNodeBitmap">01000000</setting>
  <setting name="ProcessHacker.ExtendedTools.GpuLastNodeCount">c</setting>
  <setting name="ProcessHacker.HardwareDevices.EnableNDIS">1</setting>
  <setting name="ProcessHacker.HardwareDevices.NetworkList"></setting>
  <setting name="ProcessHacker.HardwareDevices.DiskList"></setting>
  <setting name="ProcessHacker.NetworkTools.WindowPosition">0,0</setting>
  <setting name="ProcessHacker.NetworkTools.WindowSize">@96|600,365</setting>
  <setting name="ProcessHacker.NetworkTools.PingWindowPosition">0,0</setting>
  <setting name="ProcessHacker.NetworkTools.PingWindowSize">@96|420,250</setting>
  <setting name="ProcessHacker.NetworkTools.PingMaxTimeout">3e8</setting>
  <setting name="ProcessHacker.SbieSupport.SbieDllPath">C:\Program Files\Sandboxie\SbieDll.dll</setting>
  <setting name="ProcessHacker.ToolStatus.Config">1f</setting>
  <setting name="ProcessHacker.ToolStatus.ToolbarTheme">0</setting>
  <setting name="ProcessHacker.ToolStatus.ToolbarDisplayStyle">1</setting>
  <setting name="ProcessHacker.ToolStatus.SearchBoxDisplayMode">0</setting>
  <setting name="ProcessHacker.ToolStatus.RebarConfig"></setting>
  <setting name="ProcessHacker.ToolStatus.ToolbarConfig"></setting>
  <setting name="ProcessHacker.ToolStatus.StatusbarConfig"></setting>
  <setting name="ProcessHacker.UpdateChecker.PromptStart">1</setting>
  <setting name="ProcessHacker.UpdateChecker.LastUpdateCheckTime">131501996096556178</setting>
  <setting name="ProcessHacker.UserNotes.DatabasePath">%APPDATA%\Process Hacker 2\usernotesdb.xml</setting>
  <setting name="ProcessHacker.UserNotes.ColorCustomList"></setting>
  <setting name="ProcessHacker.WindowExplorer.ShowDesktopWindows">0</setting>
  <setting name="ProcessHacker.WindowExplorer.WindowTreeListColumns">@120|0,0,225|1,1,88|2,2,275|3,3,188</setting>
  <setting name="ProcessHacker.WindowExplorer.WindowsWindowPosition">100,100</setting>
  <setting name="ProcessHacker.WindowExplorer.WindowsWindowSize">@120|863,675</setting>
</settings>
